docker.enabled = true

process {
  withName: FASTQC1 {
    container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    publishDir = [ path: "results/fastqc_raw", mode: 'copy' ]
  }
  withName: FASTQC2 {
    container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    publishDir = [ path: "results/fastqc_trimmed", mode: 'copy' ]
  }
  withName: TRIMMOMATIC {
    container = "quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2"
    ext.args = 'SLIDINGWINDOW:4:20 MINLEN:25'
    publishDir = [ path: "results/trimmomatic", mode: 'copy' ]
  }
}