docker.enabled = true

params {
    outdir = "results"
    publish_dir_mode = "copy"
}

process {
    withName: 'FASTQC.*' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'TRIMMOMATIC' {
        container = 'quay.io/biocontainers/trimmomatic:0.39--1'
    }
}